.root {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app {
  min-width: 60%;
  max-width: 700px;
  max-height: 550px;
  margin: auto;
  background-color: white;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.app__content {
  width: 60%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px 0;
}
.app__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 20px;
}
.app__info {
  width: 90%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.app__info .song__title {
  color: rgb(46, 50, 113);
  font-size: 25px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 1px;
  margin-bottom: 8px;
}
.app__info .song__author {
  color: rgba(124, 141, 181, 0.72);
  font-size: 15px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
}
.app__info .volume {
  width: 30%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}
.app__info .volume__icon:hover .app__volume-level {
  display: block;
}
.app__info .volume__level {
  width: 100%;
}
.app__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  gap: 10px;
}
.app__play {
  width: 60px;
  height: 60px;
}
.app__play .app__icon-play {
  display: block;
  width: 100%;
  height: 100%;
}
.app__play .app__icon-pause {
  display: none;
  width: 100%;
  height: 100%;
}
.app__play.playing .app__icon-play {
  display: none;
  width: 100%;
  height: 100%;
}
.app__play.playing .app__icon-pause {
  display: block;
  width: 100%;
  height: 100%;
}
.app__icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.app__icon:hover {
  opacity: 0.7;
}
.app__icon-small {
  width: 18px;
  height: 18px;
}
.app__icon-big {
  width: 60px;
  height: 60px;
}
.app__buttons {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 5px;
  position: sticky;
}
.app__progress {
  width: 90%;
}
.app__progress input {
  width: 100%;
  margin: auto;
}
.app__progress-time {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5px;
}
.app__tracks {
  width: 40%;
  height: 90%;
  margin: 20px 0 20px 0;
  border-radius: 9px;
  overflow-y: scroll;
}
.app__tracks .track {
  width: 95%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  font-size: 11px;
}
.app__tracks .track:hover {
  background: rgba(211, 211, 211, 0.5);
  border-radius: 5px;
}
.app__tracks .track__image {
  width: 35px;
  height: 35px;
  border-radius: 5px;
}
.app__tracks .track__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: auto;
  margin-left: 10px;
}
.app__tracks .track__title {
  font-size: 14px;
}
.app__tracks .track__author {
  color: rgba(124, 141, 181, 0.72);
}/*# sourceMappingURL=style.css.map */