.root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app {
  min-width: 60%;
  max-width: 700px;
  max-height: 550px;
  margin: auto;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &__content {
    width: 60%;
    height: fit-content;
    padding: 20px 0;
  }

  &__image {
    display: flex;
    width: 50%;
    height: fit-content;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 20px;
  }

  &__info {
    width: 90%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .song {
      &__title {
        color: rgb(46, 50, 113);
        font-size: 25px;
        font-weight: 600;
        line-height: 21px;
        letter-spacing: 1px;
        margin-bottom: 8px;
      }

      &__author {
        color: rgba(124, 141, 181, 0.72);
        font-size: 15px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0px;
      }
    }

    & .volume {
      width: 30%;
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;

      &__icon {
        &:hover {
          .app__volume-level {
            display: block;
          }
        }
      }

      &__level {
        width: 100%;
      }
    }
  }

  &__controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
  }

  &__play {
    width: 60px;
    height: 60px;
    & .app__icon-play {
      display: block;
      width: 100%;
      height: 100%;
    }

    & .app__icon-pause {
      display: none;
      width: 100%;
      height: 100%;
    }

    &.playing {
      & .app__icon-play {
        display: none;
        width: 100%;
        height: 100%;
      }

      & .app__icon-pause {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }

  &__icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: all 0.2s ease-in;

    &:hover {
      opacity: 0.7;
    }

    &-small {
      width: 18px;
      height: 18px;
    }

    &-big {
      width: 60px;
      height: 60px;
    }
  }

  &__buttons {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
    position: sticky;

    // &.fixed {
    //   position: fixed;
    //   width: 50%;
    //   z-index: 100;
    //   top: 0;
    //   left: 25%;
    //   background: rgb(211, 211, 211, 1);
    // }
  }

  &__progress {
    width: 90%;

    input {
      width: 100%;
      margin: auto;
    }

    &-time {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 5px;
    }
  }

  &__tracks {
    width: 40%;
    height: 90%;
    margin: 20px 0 20px 0;
    border-radius: 9px;
    overflow-y: scroll;

    & .track {
      width: 95%;
      height: fit-content;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      padding: 5px;
      margin-bottom: 5px;
      cursor: pointer;
      transition: all 0.2s ease-in;
      font-size: 11px;

      &:hover {
        background: rgb(211, 211, 211, 0.5);
        border-radius: 5px;
      }

      &__image {
        width: 35px;
        height: 35px;
        border-radius: 5px;
      }

      &__heading {
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin-right: auto;
        margin-left: 10px;
      }

      &__title {
        font-size: 14px;
      }

      &__author {
        color: rgba(124, 141, 181, 0.72);
      }
    }
  }

  &__track {
  }
}
