.root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: lightgray;
}

.app {
  max-width: 50%;
  min-width: 650px;
  max-height: 450px;
  margin: auto;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  padding: 20px 0;

  &__content {
    width: 65%;
    height: fit-content;
  }

  &__image {
    display: flex;
    width: 50%;
    height: fit-content;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 20px;
    // margin-bottom: 20px;
  }

  &__song {
    text-align: center;

    &-title {
      color: rgb(46, 50, 113);
      font-size: 22px;
      font-weight: 600;
      line-height: 21px;
      letter-spacing: 1px;
      margin-bottom: 5px;
    }

    &-author,
    &-genre {
      color: rgba(124, 141, 181, 0.72);
      font-size: 15px;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: 0px;
    }
  }

  &__controls {
    display: flex;
    width: 25%;
    justify-content: space-between;
    margin-left: 10px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    gap: 10px;
  }

  &__icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
    transition: all 0.2s ease-in;

    &:hover {
      // fill: #000;
      opacity: 0.7;
    }

    &-small {
      width: 18px;
      height: 18px;
    }

    &-big {
      width: 45px;
      height: 45px;
      position: relative;
    }
  }

  &__progress {
    width: 100%;

    input {
      width: 100%;
      margin: auto;
    }

    &-time {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 5px;
    }
  }

  &__volume {
    display: flex;
    align-items: center;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 5px;
  }

  &__tracks {
    background: rgb(211, 211, 211, 0.3);
    padding: 10px 15px;
    border-radius: 9px;
    max-height: 100%;
    overflow-y: scroll;
  }

  &__track {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    gap: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    color: rgb(0, 0, 0, 0.6);
    transition: all 0.2s ease-in;

    &:hover {
      background: rgb(211, 211, 211, 0.5);
      border-radius: 5px;
    }
  }
}
